[package]
name = "lila-ip2proxy"
version = "1.0.0"
publish = false
description = "Webservice to query an IP2Proxy BIN database"
repository = "https://github.com/lichess-org/lila-ip2proxy"
readme = "README.md"
license = "AGPL-3.0+"
authors = ["Niklas Fiekas <niklas.fiekas@backscattering.de>"]
categories = ["web-programming::http-server"]
keywords = ["ip", "proxy", "geolocation"]
edition = "2021"

[dependencies]
warp = { version = "0.3", default-features = false }
tokio = { version = "1", features = ["full"] }
serde =  { version = "1", features = ["derive"] }
serde_with = "1"
clap = { version = "3", features = ["derive"] }
ip2proxy = { version = "2", features = ["serde"] }
