[package]
name = "lila-ip2proxy"
version = "0.1.0"
publish = false
description = "Webservice to query an IP2Proxy BIN database"
repository = "https://github.com/niklasf/lila-ip2proxy"
readme = "README.md"
license = "AGPL-3.0+"
authors = ["Niklas Fiekas <niklas.fiekas@backscattering.de>"]
categories = ["web-programming::http-server"]
keywords = ["ip", "proxy", "geolocation"]
edition = "2018"

[dependencies]
warp = { version = "0.3", default-features = false }
tokio = { version = "1.7", features = ["full"] }
serde =  { version = "1.0", features = ["derive"] }
serde_with = "1.4"
clap = "3.0.0-beta.2"
ip2proxy = { version = "1.0", features = ["serde"] }
