[Unit]
Description=lila-ip2proxy
After=network.target

[Service]
ExecStart=/usr/local/bin/lila-ip2proxy --bind 172.16.0.28:1929 /var/local/ip2proxy/IP2PROXY-IP-PROXYTYPE-COUNTRY.BIN
ReadOnlyPaths=/var/local/ip2proxy
PrivateDevices=true
ProtectSystem=strict
CapabilityBoundingSet=
NoNewPrivileges=true
Restart=always
